%h3= "Rent a bike some one like you" 
%hr
= form_tag rides_path, :method => :get do
  %p
    = text_field_tag :search, params[:search], :id => "gmaps-input-address", :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...'
    = submit_tag "Search Near", :name => nil 


:javascript

jQuery(function() {
  var completer;

  completer = new GmapsCompleter({
    inputField: '#gmaps-input-address',
    errorField: '#gmaps-error'

  });

  completer.autoCompleteInit({
    country: "in"
  })
});    