- model_class = Supplier
.content
  = content_for :header do
    %p.buttons= link_to t('back_to_supplier_list') , :suppliers, :class => 'btn btn-primary'
    %h2=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
  = render :partial => "form"
