/ About Section
%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About Stylework
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p Stylework is the best alternative to office. Get a beautiful working space, free Wi-Fi and coffee at the fraction of the cost of co-working. Meet and connect with more people like you at stylework
      .col-lg-4
        %p Work in a culture where it is the norm to help each other out, and there are many opportunities out there; this variety of workers in one space will means that coworkers, have unique skill sets, can provide help to other community members
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-lg.btn-outline{:href => "/rides"}
          %i.fa.fa-download
          Book Your Worksation 