.main-button
  .btn-group.btn-group-justified.btn-group-lg{"aria-label" => "...", :role => "group"}
    .btn-group{:role => "group"}
      %a.button.btn.btn-default{:type => "button", :href => "lists/new"} List a Ride   
    .btn-group{:role => "group"}
      %a.button.btn.btn-default{:type => "button", :href => "lists"} Rent a Ride
    .btn-group{:role => "group"}
      %a.button.btn.btn-default{:type => "button", :href => "visitors/index"} Buy
    .btn-group{:role => "group"}
      %a.button.btn.btn-default{:type => "button", :href => "sellers/index"} Sell
    .btn-group{:role => "group"}  
     
= render "frontend/lists/search_index"
    




