.page-header
  %h1 Buy a Cycle
.container
  .row
    .col-md-3
      %p.lead Shop Name
      .list-group
        %a.list-group-item{:href => "#"} Category 1
        %a.list-group-item{:href => "#"} Category 2
        %a.list-group-item{:href => "#"} Category 3
    .col-md-9
      
      - @items.each do |i|
        .col-md-4
          .panel.panel-default
            .panel-body
              #thumb-div.img
                - if !i.cloudinary_images.nil?
                  %img{:alt => "", :src => i.cloudinary_images.first["url"]}/
                - else
                  %img{:alt => "", :src => "../images/no-image.jpg"}/
              .caption
                %h4.pull-right ₹#{number_with_precision(i.price, :precision => 2)}
                %h4
                  = link_to i.name, buyer_path(i)
                %p
                  = i.description
              .ratings
                %p.pull-right 15 reviews
                %p
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
                  %span.glyphicon.glyphicon-star
.container
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Your Website 2014
/ /.container
