.content
 .page-header
  %h2= 'Address details'
 - if !@addresses.empty?
  - @addresses.each do |address|
   = render "suppliers/address_form", address: address
 - else
  = render "suppliers/address_form", address: @address
