= content_for :header do
  .main-button
    .btn-group.btn-group-justified.btn-group-lg{"aria-label" => "...", :role => "group"}
      .btn-group{:role => "group"}
        %button.btn.btn-default{:type => "button"} Rent
      .btn-group{:role => "group"}
        %button.btn.btn-default{:type => "button"} Buy
      .btn-group{:role => "group"}
        %button.btn.btn-default{:type => "button"} Sell
