%ul.nav.nav-tabs
  %li{:role => "presentation"}
    = link_to 'List a Ride', "/lists/new"
  %li{:role => "presentation"}
    = link_to 'Rent a Ride', "/lists"
  %li{:role => "presentation"}
    = link_to 'Buy', "/buyers"
  %li{:role => "presentation"}
    = link_to 'Sell', new_seller_path
