// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.table.table-striped {
  thead th { border:1px solid #40454D; background:#40454D; text-align:left; font-weight:normal; font-size:0.9em; color:#fff; }
}

table.table.table-bordered {
  background-color: #fff;
  thead th { border:1px solid #40454D; background:#40454D; text-align:left; font-weight:normal; font-size:0.9em; color:#fff; }

  tbody th { text-align:left; background:#5B6270; border:1px solid #5B6270;font-size:1.2em; color:#40454D;}
  tbody td.multistage {
    padding-left: 0px;
    padding-right: 0px;
  }

  tbody td.multistage {
    padding:0;
    order-bottom-width:0px;
    margin-bottom: 0px;
    table.table.table-bordered {
      td { padding:10px; border-width:0; border-right-width:1px; border-bottom-width:1px;}
      td:last-child { border-right-width:0;}
      tr:last-child td { border-bottom-width:1;}
    }
  }

  tbody tr.form td {
    background: #red;
  }

}

#inner-table {
    order-bottom-width:0px;
    margin-bottom: 0px;
    background: rgba(247, 247, 248, 0.52);
  }

.col-lg-9 {
  width: 100%;
}

.float-right {
  float: right;
}

span.boolean span.true {
color: #20dbdb;
}

table tbody tr td span {
  a.edit {
    background-image:image-url("pencil63.svg");
    background-repeat:no-repeat;
    margin-top: 3px;
    width: 16px;
    background-size: 13px;
    display: inline-block;
    text-indent: -40000px;
    opacity: 0.3;
  }
  a.delete {
    background-image:image-url("delete96.svg");
    background-repeat:no-repeat;
    margin-top: 3px;
    width: 16px;
    background-size: 13px;
    display: inline-block;
    text-indent: -40000px;
    opacity: 0.3;
  }
}

.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}

