.page-header
  %h1=t '.title', :default => "Calendar"

#calendar

#event_desc_dialog.dialog{:style => "display:none;"}
    

#create_event_dialog.dialog{:style => "display:none;"}
  = render partial: "frontend/schedules/form"

