/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require fullcalendar
 *= require_tree .
 *= require_self
 *= require freelancer
 */


/* Buy sell rent big buttons */
@import 'components/chardinjs_overrides.css';

/* upper left corner button */
p.buttons {
    float: right;
    margin-top: 27px;
    margin-right: 35px;
}

#map{
    height: 600px;
}  

#gmaps-canvas {
  height: 600px;
  
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
   box-shadow:         0px 0px 5px #ccc;
}

$font: 'Helvetica Neue', Arial, sans-serif;
html { font-family:$font; font-size:12px; color:#000; -webkit-font-smoothing:antialiased; background-color:#f7f9fc; overflow-y:scroll}


main {
    background-color: #f7f9fc;
}


form {
      overflow:hidden;
      box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.2);
      padding:15px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: white;
}

fieldset {
    border:1px solid rgba(145, 218, 15, 0.46);
    background:#fff;
    padding-top:15px;
    padding-bottom:25px;
    margin-bottom:15px;
    padding-left: 30px;
    padding-right: 30px;

    legend {
      color:#5B6270; 
      margin:0 25px; 
      font-weight:300; 
      font-size:1.5em;
      border-bottom: 0px;
      width: auto;
    }
    &.padded { padding:15px 25px 25px 25px;}
    &.padded legend { margin:0;}
    dl {
      margin: 0 25px;
      margin-bottom: 15px;

    }
    dd {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    dl.third {
          width: 31%;
          margin: 0;
          float: left;
          &:nth-child(2) { margin-left:3%; width:31%;}
          &:last-child { float:right; width:32%;}
    }

    dl.sixth {
          width: 12%;
          margin: 0px;
          float: left;
          &:nth-child(n) { margin-left:3%; width:15%;}
          &:last-child { margin-left:3%; float:right; width:12%;}
    }

    dl.large {
        width: 80%;
        margin: 0px;
        float: left;
        
    }

}  

fieldset .description{
  
}

#cont{
  margin: 0px;
  display: inline-block;
  margin-right: 80px;
}

.row {
  display: block;
}


/* Devise views */

.border-form-div {
    max-width: 500px;
    padding: 34px 29px 29px;
    margin: 0 auto 20px;
    border: none;
    background-color: #f7f9fc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: none;
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.align {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.spacer{
    padding-left: 63px;
    padding-top: 12px;
}

form#new_user {
    box-shadow: none;
}

.alert.alert-danger {
    margin-top: 50px;
}

.alert.alert-success {
    margin-top: 50px;
}

.glyphicon-search {
  top: 0px;
}

.search-box {
    margin-left: -6px;
}

.col-md-3.search-box {
  margin-left: -16px;
}

form.search {
    overflow: initial;
}

input#pick_up {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 9px;
  padding-right: 10px;
}

input#drop_of {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding-left: 9px;
  padding-right: 10px;
}

.col-md-6.search-box {
  padding-right: 0px;
}

.col-md-3.search-box {
  padding-right: 0px;
  width: 26%
}

.input-group-addon.search-box-icon {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}