/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */


/* Buy sell rent big buttons */


/* upper left corner button */
p.buttons {
    float: right;
    margin-top: 27px;
    margin-right: 35px;
}

#map{
    height: 600px;
}  

#gmaps-canvas {
  height: 600px;
  
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
   box-shadow:         0px 0px 5px #ccc;
}

$font: 'Helvetica Neue', Arial, sans-serif;
html { font-family:$font; font-size:12px; color:#000; -webkit-font-smoothing:antialiased; background-color:#f7f9fc; overflow-y:scroll}


main {
    background-color: #f7f9fc;
}


form {
      overflow:hidden;
      box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.2);
      padding:15px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: white;
}

fieldset {
    border:1px solid rgba(145, 218, 15, 0.46);
    background:#fff;
    padding-top:15px;
    padding-bottom:25px;
    margin-bottom:15px;
    padding-left: 30px;
    padding-right: 30px;

    legend {
      color:#5B6270; 
      margin:0 25px; 
      font-weight:300; 
      font-size:1.5em;
      border-bottom: 0px;
      width: auto;
    }
    &.padded { padding:15px 25px 25px 25px;}
    &.padded legend { margin:0;}
    dl {
      margin: 0 25px;
      margin-bottom: 15px;

    }
    dd {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    dl.third {
          width: 31%;
          margin: 0;
          float: left;
          &:nth-child(2) { margin-left:3%; width:31%;}
          &:last-child { float:right; width:32%;}
    }

    dl.sixth {
          width: 12%;
          margin: 0px;
          float: left;
          &:nth-child(n) { margin-left:3%; width:15%;}
          &:last-child { margin-left:3%; float:right; width:12%;}
    }

    dl.large {
        width: 80%;
        margin: 0px;
        float: left;
        
    }

}  

fieldset .description{
  
}

#cont{
  margin: 0px;
  display: inline-block;
  margin-right: 80px;
}

.row {
  display: block;
}

