// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -80%);
}

#gmaps-input-address {
  height: 35px;
  width: 400px;
  border-color: darkorange;
  border-bottom-style: dotted;
}