// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -80%);
}

.slogan{
  padding-left: 36px;
  font-style: oblique;
  font-size: xx-large;
  color: darkorange;
}

form#search_box {
    padding: 0px;
    overflow: inherit;
    margin-left: 125px;
    margin-right: 200px;
} 
