= content_for :header do
  .main-button
    .btn-group.btn-group-justified.btn-group-lg{"aria-label" => "...", :role => "group"}
      .btn-group{:role => "group"}
        %a.button.btn.btn-default{:type => "button", :href => "#"} Rent
      .btn-group{:role => "group"}
        %a.button.btn.btn-default{:type => "button", :href => "visitor/index"} Buy
      .btn-group{:role => "group"}
        %a.button.btn.btn-default{:type => "button", :href => "#"} Sell


