- model_class = Product
= content_for :header do
	%p.buttons
		= link_to t('new_product'), :new_product, :class => 'btn btn-success' 
	%h2
		%span.glyphicon.glyphicon-tags	
		= t '.title', :default => model_class.model_name.human.pluralize.titleize

= render "table", :products => @products, :categories => @categories 

