
%hr
-lists.each do |list|
  #ride-list
    %li[list]
      = link_to list_path(list), :remote => true do
        .ride-details
          .ride-image
            - if !list.images.nil?
              - image = list.images.first
              = image_tag(image["thumbnail_url"])
          .ride-body
            %h4.media-heading= list.ride_title
            %p= list.ride_description
    %hr        


